@model MyASP.Model.Student
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
   <h1>asdfasdfasd</h1>
   <div>
       <p>@Model?.firstname</p>
       <p>@Model?.lastname</p>
       <p>@Model?.gender</p>
       <p>@Model?.birthdate</p>

   </div>
    <a asp-action="Index">返回</a>
</body>
</html>
